<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
        <ul class="cart__item-list">
          <% products.forEach(cartData => { %>
            <li class="cart__item">
              <h1><%= cartData.title %></h1>
              <h2>Quantity: <%= cartData.cartItem.quantity %></h2>
              <h2><%= cartData.price %></h2>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="productId" value="<%= cartData.id %>">
                <button type="submit" class="btn danger">Delete</button>
              </form>
            </li>
          <% }) %>
        </ul>
        <div class="centered">
          <form action="/create-order" method="POST">
            <button type="submit" class="btn">Order Now!</button>
          </form>
        </div>
      <% } else { %> 
        <h1>No product found in Cart!</h1>
      <% } %>
    </main>
      <%- include('../includes/end.ejs') %>